<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submission</title>
</head>
<body>
    <div>
    @model StudentData
    <h1>Student Info</h1>
    <br/>
    <div>
        @* @foreach(StudentData student in Model) //<--- 
        {
            <p>@student.Name</p>
        } *@

        <div>@Model.Name</div> 
        <div>@Model.Location</div>
        <div>@Model.Language</div>
        <div>@Model.Comment</div> 
    </div>
    <br/>
    <button><a href="/">Go back</a></button>
    </div>
</body>
</html>